#root {
  display: flex;
}

input,
button {
  font-size: x-large;
}

input {
  width: 50px;
}

.triangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  grid-gap: 4px;
}

.row {
  display: flex;
  grid-gap: 3px;
  margin-bottom: -16px;
}

.hex {
  width: 52px;
  z-index: 1;
  position: relative;
}

.hex:hover,
.hex:focus {
  z-index: 2;
  cursor: pointer;
}

.hex .top {
  border-bottom: 15px solid lightgreen;
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
}

.hex:hover .top,
.hex:focus .top {
  border-bottom-color: green;
}

.hex .content {
  background-color: lightgreen;
  width: 52px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  overflow: hidden;
}

.hex:hover .content,
.hex:focus .content {
  background-color: green;
}

.hex .bottom {
  border-top: 15px solid lightgreen;
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
}

.hex:hover .bottom,
.hex:focus .bottom {
  border-top-color: green;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  top: -24px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
  color: white;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
}

.hex:hover .tooltip,
.hex:focus .tooltip {
  visibility: visible;
}
